/* Subsection Tabs
--------------------*/
#root ul.subsection_tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	clear:both;
	border-bottom:1px solid #ccc;
	height:20px;
	clear:both;
}

#root ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center;
}

#root ul.subsection_tabs li.tab a {
	display:block;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#fff;
	color:#666;
	width:80px;
}

#root ul.subsection_tabs li.tab a:hover {
	color:#666;
}

#root ul.subsection_tabs li.tab a.active {
	background-color:#ddd;
}

#root ul.subsection_tabs li.source_code {
	float:right;
}
 
/* Tag cloud stuff */

ul.tag-cloud {
    margin: 1em;
    padding: 1em;
    display: block;
}

ul.tag-cloud li {
    display: inline;
    list-style-type: none;
    
}

ul.tag-cloud a {
    display: block;
    float: left;
    margin: 2px 5px;
    padding: 2px;
    text-decoration: none;
}

a.tag-cloud-selected {
    background-color: #dbeac1;
}
